@import "tailwindcss";
@import "remixicon/fonts/remixicon.css";

:root {
  --background: #f5f7fb;
  --foreground: #0f172a;
}

@theme inline {
  --color-text: var(--text-primary);
}

.scrollbar-hidden {
  scrollbar-width: none;
}

/* font utilities */
.font-inter {
  font-family: var(--font-inter);
}

.font-montserrat {
  font-family: var(--font-montserrat);
}

.font-poppins {
  font-family: var(--font-poppins);
}
